---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import BookHero from '../components/BookHero.astro';
import BookDescription from '../components/BookDescription.astro';
import Author from '../components/Author.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="Future Skills – Demnächst erhältlich">
  <Header />
  <main>
    <BookHero />
    <BookDescription />
    <Author />
  </main>
  <Footer />
</Layout>
